#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	@cd cmd/mordecai
	go build -o mordecai

override_dh_auto_install:
	@install -D -m 0755 cmd/mordecai/mordecai $(CURDIR)/debian/mordecai/usr/bin/mordecai
