#!/usr/bin/make -f

# Include the standard debhelper commands
%:
	dh $@

# Override the build process to navigate to the correct directory and build the project
override_dh_auto_build:
	@cd cmd/mordecai && go build -o mordecai

# Override the install process to place the binary in the correct location
override_dh_auto_install:
	@install -D -m 0755 cmd/mordecai/mordecai $(CURDIR)/debian/mordecai/usr/bin/mordecai

# Include a clean rule to exclude files listed in .gitignore
override_dh_clean:
	# Remove files that match patterns in .gitignore
	@git ls-files --others --ignored --exclude-standard -z | xargs -0 rm -f
	# Ensure the build artifacts are cleaned
	dh_clean
